body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
     background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  

.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }




  // css footer
  #topmenu {
    list-style:none; 
    text-align:center; 
    padding-top:4px;
    }
    #topmenu li {
    display:inline;
    text-align: center;
    font-size: 20px;
    }
    #topmenu a, #topmenu a:visited, #topmenu a:active {	
    display:block;	
    text-decoration:none; 
    color:whitesmoke; 
    float:left; 	
    height:30px; 
    padding:9px 15px 0px 17px; 
    
    }
    #topmenu a:hover {
    display:block; 
    text-decoration:none; 
    color:blueviolet; 
    float:left; 
    height:30px; 
    padding:9px 15px 0px 17px; 
  
    }
    #topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {
    display:block; 
    text-decoration:none; 
    color:#333333; 
    float:left; 
    height:30px; 
    padding:9px 15px 0px 17px; 
    
    }
  
  
  
  
    .footerss {
    
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #111;
      color:blueviolet;
      text-align: center;
   }











   footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  