<div>
  <!-- First Container -->
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin">Our Story</h3>
    <img src="assets/img/a1.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Hi... We're Online Chatting</h3>
    <p>Switching to LiveAgent has been a major step forward. We've been able to double the amount of client queries, while simultaneously decrease the worktime.Customer service and help desk software isn’t only about answering questions.You are making a repeated first impression constantly, which either creates satisfaction or bad impression. The way you are communicating is the visible and controllable part of the process, but the customers don’t care about your technological debt.</p>
  </div>
  <br>
  <br>
  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">    
    <h3 class="margin">Increased productivity across all departments</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>By implementing real-time service, we were able to increase customer satisfaction by 29%. LiveAgent has also helped us improve conversion rates and provided opportunities for cross selling and upselling.</p>
        <img src="assets/img/qq.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>LiveAgent is far more refined and well thought out when compared to Freshdesk, and others. I can very quickly move through tickets, chats, see what people are writing before they send the message. </p>
        <img src="assets/img/qqq.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>LiveAgent allows us to reach out faster and secure a smooth and successful event for our clients. That's also why our response time is now close to 30 minutes.</p><br>
        <img src="assets/img/qqqq.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center">
    <h1>Looking for a better helpdesk?</h1>
    <h3>Products With a Personal Touch</h3>
    <p>Live chat technology has been around for a while. And while customers increasingly demand immediate attention, businesses have been relatively slow to adopt a live chat strategy -- particularly in the SMB space, where deals are still built on relationships.Live chat is often solely thought of as a customer support tool and tends to be overlooked from a sales and conversion perspective. </p>
    <h3>Why Website Engagement Matters</h3>
    <p>Approximately 82% of customers consider an immediate response as "important" or "very important" when they have a marketing or sales question. A full 90% say that an immediate response is just as important when they have a customer service question.</p>
    <h3>Chat Service: Targeted Proactive Chat Invitations</h3>
    <p>Approximately 82% of customers consider an immediate response as "important" or "very important" when they have a marketing or sales question. A full 90% say that an immediate response is just as important when they have a customer service question.</p>
    <p>Live chat fills that void, providing an immediate line of communication to get customers’ questions answered without leaving the page or picking up another device.Depending on your goals, users may or may not flow through your funnel as you’d like. While it does make sense for businesses to build sophisticated conversion paths, launch personalized email/website nurturing campaigns and use A/B testing to refine website copy and calls-to-action, the overwhelming majority of businesses are missing a key step in between - simply talking to their visitors.</p>
    <h3>Chat Service: New Client Onboarding Assistance</h3>
    <p>Betterment, a leading online investment advisor, uses targeted proactive chat invitations to engage with top-tier clients when they sign up for a new account. Dealing with people’s money demands the utmost credibility and trust.Rather than solely relying on their established user experience (UX) flow to move clients down Betterment's investment funnel, proactive chat offers the opportunity for advisors to provide instant, personalized financial services to new clients so they can invest with confidence.
  
    </p>
    <h3>Chat Service: Multilingual Chat Support</h3>
    <p>Canyon Bicycles has a popular following around the globe, supporting a diverse set of customers speaking different languages. They use intelligent chat routing rules to immediately connect customers to the most appropriate members of their sales and support teams in their visitors’ preferred language.</p>
   <h3>Chat Service: Text-to-Chat Customer Support</h3>
   <p>U.S. Patriot Tactical uses SMS-to-Chat services, allowing clients to start a live chat with their support team via a simple text message. They display their ‘Text-to-Chat’ phone number on their website, order receipts and packing slips to quickly facilitate communications around order inquiries, status and returns.
  
  </p>
  <br>
    
  </div>
  <br>
  <br>
  
  
  
   <!-- Container (The Band Section) -->
   <div id="band" class="container text-center">
    <h2><b>Online Real Time Chatting</b></h2>
    <h4><em><b>We love Sharing Views!</b></em></h4>
    <p><b>Make your community stronger by adding messaging to your app. Users can chat without having to leave for a different messaging appIncrease user confidence in your marketplace by enabling them to ask questions and coordinate transactions with sellers in real time chat Easily display which users are online or offline in your rooms or across the whole chat app Display to your users how far they or other users have read the conversationBob, Lisa, Everyone is typing… Show your users when someone else is typing in the room.</b></p>
    <br><br><br>
    <div class="row">
      <div class="col-sm-4">
        <h2 class="text-center"><strong><b> What if your customer service reps could answer your customers on social networks from their ticketing platform? and help!</b></strong></h2><br>
        <a href="#demo" data-toggle="collapse">
          <img src="assets/img/z1.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo" class="collapse"><br><br>
          <p>You have often heard that you have just a few seconds to grab someone’s attention before they are gone. Same applies to online presence. You cannot expect your audience to look for your help if you don’t show on website that you offer one</p>
          <p>With your website it’s like with everything. If it doesn’t feel nice place to be in, you are leaving bad impression. During past 20 years we were part of constantly evolving online environment, where offering mediocre customer service with average user experience is not an option.</p><br>
          <!-- <p>Easily display which users are online</p>
          <p>offline in your rooms</p>
          <p>across the whole chat app</p> -->
          <br><br>
        </div>
      </div>
      <div class="col-sm-4">
        <h2 class="text-center"><strong><b>Customer Service is about helping all of your customers whenever they want and through any channel they decide to use.</b></strong></h2><br>
        <a href="#demo2" data-toggle="collapse">
          <img src="assets/img/z2.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse"><br><br>
          
          <p>Businesses often focus on traffic generation, but by implementing small changes they can close more sales with their existing audience. Conversion optimization is one of the key use cases of using multi-channel help desk solution. Stick to the basics and provide excellent customer service and your conversion rate will skyrocket.</p>
          <p>Are you struggling with low conversion rates, high bounce rates, or high shopping cart abandonment rates? E-commerce managers are always looking for new ways to increase the performance of their online stores or websites.</p><br>
         <br>
        </div>
      </div>
      <div class="col-sm-4">
        <h2 class="text-center"><strong><b>5-Star Customer Service + Increased Engagement Thanks To LiveAgent Problem Too Many Requests and Solution Advanced Automation</b></strong></h2><br>
        <a href="#demo3" data-toggle="collapse">
          <img src="assets/img/z3.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo3" class="collapse"><br><br>
          
          <p>In ideal world, you are working on business the way it grows and improves. Nevertheless, there are always tasks that are not in this scope, mostly administration and customer support. While former is regulated by national institutions, the latter can be easily improved thanks to LiveAgent.</p>
          <p>Sometimes there are few to none customer requests and sometimes they are flying to your email in a speed you are unable to resolve them in time. In these cases you are probably not enjoying your workday and your (potential) customers are most likely looking to your competitors.</p>
         <br>
         <br>
        </div>
      </div>
    </div>
  </div>
   <br>
  <br>
  <br>
  <br>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            
              <img src="assets/img/q1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h3>All Your Communication Neatly Sorted by Priority</h3>
                <p>With your website it’s like with everything. If it doesn’t feel nice place to be in, you are leaving bad impression. During past 20 years we were part of constantly evolving online environment, where offering mediocre customer service with average user experience is not an option.</p>
             <br><br><br>
              </div>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            
              <img src="assets/img/q2.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h3>Build the loyal base of customers and modern technology</h3>
                <p>You have to use modern technology in 21st century. If you are running your email from desktop client and share it with your team, your chance for failures is significantly higher. By implementing LiveAgent, all your communication will fly inside one place and you can restrain access for concrete channels according to your preference.</p>
              <br>
              </div>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            
              <img src="assets/img/q3.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <h3>Guide your customers throughout the purchase</h3>
                <p>Your business owns website, phone line, provides articles, manages social media channels and owns multiple business email addresses you can barely remember. It’s very easy to get lost and miss few of the questions from your prospects, which decrease your brand reputation.</p>
              <br><br><br>
              </div>
            
          </div>
        
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              
                <img src="assets/img/q4.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <h3>Satisfaction of your customers</h3>
                  <p>Implementing LiveAgent for e-commerce on your website is question for a couple of seconds. However the impact on your e-commerce, lasts for the whole time. Bringing LiveAgent to your e-shop can raise the happiness of your customers by more than 60 %.</p>
                  <br><br>
                </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              
                <img src="assets/img/e1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <h3>your customers</h3>
                  <p>Offering helping hand to your customers at the right time can have a significant impact on your business. Every time they may have a question, your live chat or call center are exactly there for you. Power your customer service with LiveAgent for e-commerce.</p>
                  <br><br>
                </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              
                <img src="assets/img/q6.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <h3>The loyal customer base</h3>
                  <p>The loyalty of the customers should be one of the key metrics for your business. They prefer your products & services and will stay with you until they are satisfied. The more loyal customers you have, the better results you will see at the end of each passing month.
  
                    </p>
                    <br><br>
                </div>
              
            </div>
          
            </div>
          </div>
  
      
    
  <br>
  <br>
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="500">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="assets/img/s1.jpg" alt="Image" width="2048" height="1365">
          <div class="carousel-caption">
            <h3>Sell $</h3>
            <p>Money Money.</p>
          </div>      
        </div>
  
        <div class="item">
          <img src="assets/img/s2.jpg" alt="Image" width="2048" height="1365" >
          <div class="carousel-caption">
            <h3>More Sell $</h3>
            <p>Lorem ipsum...</p>
          </div>      
        </div>
        
        <div class="item">
          <img src="assets/img/s3.jpg" alt="Image" width="2048" height="1365">
          <div class="carousel-caption">
            <h3>More Sell $</h3>
            <p>Lorem ipsum...</p>
          </div>      
        </div>
        
        <div class="item">
          <img src="assets/img/s4.jpg" alt="Image" width="2048" height="1365">
          <div class="carousel-caption">
            <h3>More Sell $</h3>
            <p>Lorem ipsum...</p>
          </div>      
        </div>
        
        <div class="item">
          <img src="assets/img/s5.jpg" alt="Image" width="2048" height="1365">
          <div class="carousel-caption">
            <h3>More Sell $</h3>
            <p>Lorem ipsum...</p>
          </div>      
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
  <!-- Footer -->
   <!-- Footer -->
   <footer class="container-fluid bg-4 text-center">
      
      <ul id="topmenu">
        <div class="text-center">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="about">About Us</a></li>
          <li><a routerLink="community">Community</a></li>
          <li><a routerLink="why">Why we !</a></li>
          <li><a href="http://localhost:5000/login">SignUp/Login</a></li>
        </div>
          </ul>
          <br>
          <br>
          <br>
          <br>
  
          <div class="row text-center">
              <div class="col-sm-4">
               
                  <p><strong>Invite Agent to Chat</strong></p>
                  <p>While you're having an active Chat session with a visitor you can invite your colleague to help you, for example, with the issue you are not sure how to solve. You can invite as many Agents as you need to the Chat. (Invited Agents can directly send chat messages or write notes visible only to another Agent)</p>
                  
               
              </div>
              <div class="col-sm-4">
               
                  <p><strong>Drag & Drop Files to Chat</strong></p>
                  <p>Avoid delivering poor customer support by letting your customers rate the responses and answers of your customer support Agents. Reward your best Agents and support those that are underachieving at the moment. Identify negative trends in your customer support and act accordingly.</p>
                  
               
              </div>
              <div class="col-sm-4">
               
                  <p><strong>Automatic Live chat Invitations</strong></p>
                  <p>Invite visitors to Chat with you during the checkout process, build their purchase confidence, increase shopping experience and convert them into paying customers by having a real person chat with them. Easily setup a custom popout time for your Chat invitations.</p>
                  
               
              </div>
            </div>
            <br>
            <br>
            <h5><b>Online Real Time Messaging system</b></h5>
            <p>Online Real Time Messaging system, which is a place for college students and Technical experts can meet. The Data base collects the minute details about the Job Seeker and Provider. Resume Mart is designed to collect multiple resumes from the Job Seeker. Resume Mart’s aim is to provide Job Provider with enormous amount of data.Real-time messaging applications are not a new thing in the web world, but have been gathering more space within the business community, specially in applications that need to integrate with their customers/clients in a more flexible and personal way.</p>
             
             
                    
                    
                        
  
  </footer>
  
  <div class="footerss">
      <p>© 2019 QualityUnit,Info.cmp. All rights reserved.</p>
      <p>Powered by Manpreet Info Company </p>
    </div>
  
  