
<img src="assets/img/c1.jpg" class="img-responsive" style="width:100%">


<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1>Real Time Chat Community</h1><br>
      <h3>Hungry for knowledge? Connect with Real Time Chat Community users, experts and developers to find answers to your questions and share your experience. Have a nice discourse!</h3>
      <h4>Chat, also known as online chat or internet chat, is a way of communication and interaction in real time on the Internet. This communication is based on text messages. Two or more people can communicate,There are many types of chats - for example, ongoing or scheduled for a certain time. Chat requires a software or messenger application. Some chats require users to registrate or to sign up to join chat groups.</h4><br>
      <h5><b>Become accessible</b></h5><br>
      <p>No matter how big or small your start-up is, customers, potential investors or partners from the same industry will get in touch with you either through regular mail, call center or very convenient real-time live chat. Harness the power of live chat and universal inbox and turn every opportunity into a worthy experience. Every message counts and makes the difference.

      </p>
      <h5><b>Optimize your daily tasks</b></h5><br>
      <p>SMBs usually form the largest part of national economy and have the largest share of the GDP. They vary in spheres, forms or sizes. However, what they have common is, that they want to have loyal and happy customers. Deploying multi-channel help desk software into their business can make a significant impact on doing their day-to-day tasks. </p>
      <h5><b>Help your future colleagues</b></h5>
      <p>Job applicants can be sometimes unsure about their decision. Posting job description online with offer is sometimes not enough, as several other questions can pop-up. Provide seamless and immediate help to your future possible colleagues with real-time live chat and help them make the right move!</p>
     
    </div>
    <div class="col-sm-4"><br><br><br><br><br><br><br>
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
    <div class="col-sm-4"><br><br><br><br><br><br><br>
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Save time with streamlined communication
      </h2><br>
      <h4><strong>MISSION:</strong> How can your SMB or Startup increase efficiency, drive down cost, and improve customer satisfaction all at the same time? Utilize LiveAgent's native multichannel approach, provide excellent customer service across all major communication channels and equip your agents with state of the art features.</h4><br>
      <p><strong>VISION:</strong>There are plenty of options where startups and SMBs can invest their time and money. Those expenses often cumulate very quickly. Here in LiveAgent we believe you should be able to choose only the features best for your business case and that you should always have an options, not limitations.
        How can your SMB or Startup increase efficiency, drive down cost, and improve customer satisfaction all at the same time.</p>
    </div>
  </div>
</div>

<img src="assets/img/new.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/new2.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/cycle.jpg" class="img-responsive" style="width:100%"><br>
<br><br><br>


<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><b>Be exceptional customer support</b></div>
        <div class="panel-body"><img src="assets/img/e1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">We wanted to be rewarded for doing great things ever since our childhood.
           You and your agents can relive this feeling again for providing an A* customer service. 
           Collect the most positive feedbacks and you’ll even get a special badge - all with Real Time Chat for for entertainment industry.


        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading"><b>Choose your own path</b><br></div><br>
        <div class="panel-body"><img src="assets/img/e2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Customize the way your live chat window, 
          button and other elements look like. It’s only up to your imagination and preference.
           Real Time Chat for entertainment industry gives you freedom to choose your own direction and embark on a unique journey, where every aspect is different.</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading"><b>Real Time Chat is a safe bet for your business</b></div>
        <div class="panel-body"><img src="assets/img/e3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">No need to risk your money and the good brand of your company with Real Time Chat for entertainment industry anymore. With a satisfaction rate based on more than 15 000 independent reviews across all industries, it’s a safe bet for you & your business.

          </div><br>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"> Customer Service</div>
        <div class="panel-body"><img src="assets/img/3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Customer service is very broad and trendy topic these days. Technology has progressed during 21st century and
           that enables organizations to use advanced software that often replace humans themselves. However that often leads to lack of personal communication, when customer require human factor to be involved.</div><br>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-default">
        <div class="panel-heading">Smart Technology</div>
        <div class="panel-body"><img src="assets/img/s3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Most often the problem of bad customer service is wrong process management implemented inside the business. Therefore it’s beneficial to implement advanced smart technology that helps you to keep your business under control. Have you heard you shouldn’t do same task twice? With Real Time Chat you won’t. Setup once, benefit forever.</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-default">
        <div class="panel-heading">Work smarter</div>
        <div class="panel-body"><img src="assets/img/s1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Most often the problem of bad customer service is wrong process management implemented inside the business. Therefore it’s beneficial to implement advanced smart technology that helps you to keep your business under control. Have you heard you shouldn’t do same task twice?
           With Real Time Chat you won’t. Setup once, benefit forever.</div>
      </div>
    </div>
  </div>
</div><br><br>







<!-- 
footer -->
<footer class="container-fluid bg-4 text-center">
    
    <ul id="topmenu">
      <div class="text-center">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="about">About Us</a></li>
        <li><a routerLink="community">Community</a></li>
        <li><a routerLink="why">Why we !</a></li>
        <li><a href="http://localhost:5000/login">SignUp/Login</a></li>
       
      </div>
        </ul>
        <br>
        <br>
        <br>
        <br>

        <div class="row text-center">
            <div class="col-sm-4">
             
                <p><strong>Invite Agent to Chat</strong></p>
                <p>While you're having an active Chat session with a visitor you can invite your colleague to help you, for example, with the issue you are not sure how to solve. You can invite as many Agents as you need to the Chat. (Invited Agents can directly send chat messages or write notes visible only to another Agent)</p>
                
             
            </div>
            <div class="col-sm-4">
             
                <p><strong>Drag & Drop Files to Chat</strong></p>
                <p>Avoid delivering poor customer support by letting your customers rate the responses and answers of your customer support Agents. Reward your best Agents and support those that are underachieving at the moment. Identify negative trends in your customer support and act accordingly.</p>
                
             
            </div>
            <div class="col-sm-4">
             
                <p><strong>Automatic Live chat Invitations</strong></p>
                <p>Invite visitors to Chat with you during the checkout process, build their purchase confidence, increase shopping experience and convert them into paying customers by having a real person chat with them. Easily setup a custom popout time for your Chat invitations.</p>
                
             
            </div>
          </div>
          <br>
          <br>
          <h5><b>Online Real Time Messaging system</b></h5>
          <p>Online Real Time Messaging system, which is a place for college students and Technical experts can meet. The Data base collects the minute details about the Job Seeker and Provider. Resume Mart is designed to collect multiple resumes from the Job Seeker. Resume Mart’s aim is to provide Job Provider with enormous amount of data.Real-time messaging applications are not a new thing in the web world, but have been gathering more space within the business community, specially in applications that need to integrate with their customers/clients in a more flexible and personal way.</p>
           
           
                  
                  
                      

</footer>

<div class="footerss">
    <p>© 2019 QualityUnit,Info.cmp. All rights reserved.</p>
    <p>Powered by Manpreet Info Company </p>
  </div>
