
<!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3><b>Why WE Are  Here!!</b></h3>
          <div class="par">
          <p ><b>Make sure you offer answers that might arise while browsing your website in different formats. On pricing page you want to proactively invite people and answer their questions, for FAQ you want to have nicely structured knowledge base. Other people might prefer calls or email contact.
             With Real Time Chat, all of this is possible. And much more.</b></p>
          </div>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img  alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title">Lack of Conversions</h2>
              <p>
                Are you struggling with low conversion rates, high bounce rates, or high shopping cart abandonment rates? E-commerce managers are always looking for new ways to increase the performance of their online stores or websites.
              </p><br><br>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img  alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title">Live Chat by Real Time App</h2>
              <p>
                Research shows that adding a live chat to your website can lift your conversion rate by 27% on average. Depending on your industry, this number can be even in the 3-digits sphere. With live chat's marginal costs, it's definitely a no brainer to give it a try.
              </p><br>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title">User Experience</h2>
              <p>
                With your website it’s like with everything. If it doesn’t feel nice place to be in, you are leaving bad impression. During past 20 years we were part of constantly evolving online environment, where offering mediocre customer service with average user experience is not an option.
              </p><br>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->



    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">


        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title">User Experience</h2>
              <p>
                  With your website it’s like with everything. If it doesn’t feel nice place to be in, you are leaving bad impression. During past 20 years we were part of constantly evolving online environment, where offering mediocre customer service with average user experience is not an option.<br><br>
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title">Personalization</h2>
              <p>
                  Make sure you offer answers that might arise while browsing your website in different formats. On pricing page you want to proactively invite people and answer their questions, for FAQ you want to have nicely structured knowledge base. Other people might prefer calls or email contact. With LiveAgent, all of this is possible. And much more.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title">Limited Availability</h2>
              <p>
                  When your business doesn’t offer straightforward and personal contact options, it’s natural that our unconsciousness starts to question the business and we immediately feel untrustworthiness towards that concrete business.
              </p><br><br>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->




    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3><b>Looking for a better helpdesk?</b></h3>
          <p><b>Online Real Time Chat is extremely flexible, adaptable, and scalable. See how other businesses utilize the vast amount of advantages that real time provides.
</b>
          </p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4  class="title" > Real-time chat</h4>
            <p class="description">Real-time chat is virtually any online communication that provides a real-time or live transmission of text messages from sender to receiver. A variety of software programs are available to enable real-time chat between individuals using Internet services. </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title">One Dashboard</h4>
            <p class="description">Real-time chat can be any direct text-based,one-to-one chat or one-to-many group chats by means of tools like instant messengers (IMs), talkers, Internet Relay Chat (IRC) and multi-user dungeons</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title">Brand Reputation</h4>
            <p class="description">Your business owns website, phone line, provides articles, manages social media channels and owns multiple business email addresses you can barely remember. It’s very easy to get lost and miss few of the questions from your prospects, which decrease your brand reputation</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title">Multi-channel Help Desk</h4>
            <p class="description">You have to use modern technology in 21st century. If you are running your email from desktop client and share it with your team, your chance for failures is significantly higher. By implementing LiveAgent, all your communication will fly inside one place and you can restrain access for concrete channels according to your preference.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title">Natural Contact</h4>
            <p class="description">Implement live chat when needed, call center for those who prefer to talk, knowledge base with frequently asked questions, feedback & suggestion boards for product/service improvement and get all your communication into one place. No more mistakes, quicker responses and more sales generated.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title">Sharing Information</h4>
            <p class="description">You grow your business, which generates more profits, but also more support requests, product questions or general inquiries. It used to be a case that one person used email for these purposes and when going to vacation the credentials has been shared. However it led to a confusion and problems occurring from lack of context and sharing of information</p>
          </div>

        </div>

      </div>
    </section>





<img src="assets/img/w1.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/w2.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/w3.jpg" class="img-responsive" style="width:100%">
<!-- <img src="assets/img/w5.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/w6.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/w7.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/w8.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/w9.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/w9.jpg" class="img-responsive" style="width:100%">
<img src="assets/img/w7.jpg" class="img-responsive" style="width:100%"> -->
<!-- <a routerLink="https://www.youtube.com/watch?v=xBRuFMm1zt8" rel="videoBox" class="linkArea">
</a> -->






<br>
<br>
<br>
<br>
<br>

<div class="how-section1">
  <div class="row">
      <div class="col-md-6 how-img">
          <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
      </div>
      <div class="col-md-6">
          <h4>All Your Communication Neatly Sorted by Priority</h4>
                      <h4 class="subheading">>With your website it’s like with everything. If it doesn’t feel nice place to be in, you are leaving bad impression. During past 20 years we were part of constantly evolving online environment, where offering mediocre customer service with average user experience is not an option.</h4>
      <p class="text-muted"><b>FThere are plenty of options where startups and SMBs can invest their time and money. 
        Those expenses often cumulate very quickly. Here in LiveAgent we believe you should be able to choose only the features best for your business case and that you should always have an options, not limitations. 
        How can your SMB or Startup increase efficiency, drive down cost, and improve customer satisfaction all at the same time.</b></p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <h4>Build the loyal base of customers and modern technology</h4>
                      <h4 class="subheading">You have to use modern technology in 21st century. If you are running your email from desktop client and share it with your team, your chance for failures is significantly higher. By implementing LiveAgent, all your communication will fly inside one place and you can restrain access for concrete channels according to your preference.</h4>
                      <p class="text-muted"><b>Job applicants can be sometimes unsure about their decision. Posting job description online with offer is sometimes not enough, as several other questions can pop-up.
                         Provide seamless and immediate help to your future possible colleagues with real-time live chat and help them make the right move!
                        </b></p>
      </div>
      <div class="col-md-6 how-img">
          <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 how-img">
           <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
      </div>
      <div class="col-md-6">
          <h4>Guide your customers throughout the purchase</h4>
                      <h4 class="subheading">Your business owns website, phone line, provides articles, manages social media channels and owns multiple business email addresses you can barely remember. It’s very easy to get lost and miss few of the questions from your prospects, which decrease your brand reputation.</h4>
                      <p class="text-muted"><b>SMBs usually form the largest part of national economy and have the largest share of the GDP. They vary in spheres, forms or sizes. However, what they have common is, that they want to have loyal and happy customers. Deploying multi-channel help desk software into their
                         business can make a significant impact on doing their day-to-day tasks.</b></p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <h4>Satisfaction of your customers</h4>
                      <h4 class="subheading">Implementing LiveAgent for e-commerce on your website is question for a couple of seconds. However the impact on your e-commerce, lasts for the whole time. Bringing LiveAgent to your e-shop can raise the happiness of your customers by more than 60 %.</h4>
                      <p class="text-muted"><b>
                        No matter how big or small your start-up is, customers, potential investors or partners from the same industry will get in touch with you either through regular mail, call center or very convenient 
                        real-time live chat. Harness the power of live chat and universal inbox and turn every opportunity into a worthy experience. Every message counts and makes the difference.</b></p>
      </div>
      <div class="col-md-6 how-img">
          <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt=""/>
      </div>

</div>
<br>
<br>






<footer class="container-fluid bg-4 text-center">
    
    <ul id="topmenu">
      <div class="text-center">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="about">About Us</a></li>
        <li><a routerLink="community">Community</a></li>
        <li><a routerLink="why">Why we !</a></li>
        <li><a href="http://localhost:5000/login">SignUp/Login</a></li>
      </div>
        </ul>
        <br>
        <br>
        <br>
        <br>

        <div class="row text-center">
            <div class="col-sm-4">
             
                <p><strong>Invite Agent to Chat</strong></p>
                <p>While you're having an active Chat session with a visitor you can invite your colleague to help you, for example, with the issue you are not sure how to solve. You can invite as many Agents as you need to the Chat. (Invited Agents can directly send chat messages or write notes visible only to another Agent)</p>
                
             
            </div>
            <div class="col-sm-4">
             
                <p><strong>Drag & Drop Files to Chat</strong></p>
                <p>Avoid delivering poor customer support by letting your customers rate the responses and answers of your customer support Agents. Reward your best Agents and support those that are underachieving at the moment. Identify negative trends in your customer support and act accordingly.</p>
                
             
            </div>
            <div class="col-sm-4">
             
                <p><strong>Automatic Live chat Invitations</strong></p>
                <p>Invite visitors to Chat with you during the checkout process, build their purchase confidence, increase shopping experience and convert them into paying customers by having a real person chat with them. Easily setup a custom popout time for your Chat invitations.</p>
                
             
            </div>
          </div>
          <br>
          <br>
          <h5><b>Online Real Time Messaging system</b></h5>
          <p>Online Real Time Messaging system, which is a place for college students and Technical experts can meet. The Data base collects the minute details about the Job Seeker and Provider. Resume Mart is designed to collect multiple resumes from the Job Seeker. Resume Mart’s aim is to provide Job Provider with enormous amount of data.Real-time messaging applications are not a new thing in the web world, but have been gathering more space within the business community, specially in applications that need to integrate with their customers/clients in a more flexible and personal way.</p>
           
           
                  
                  
                      

</footer>

<div class="footerss">
    <p>© 2019 QualityUnit,Info.cmp. All rights reserved.</p>
    <p>Powered by Manpreet Info Company </p>
  </div>
